section.campo-minado {
    display: flex;
    justify-content: center;

    .config {
        background-color: lemonchiffon;
        border: 1px solid darkgray;
        padding: 15px;
        font-size: 0.9rem;

        .row {
            display: block;
            margin-top: 10px;
        }
    }

    .main {
        background-color: blanchedalmond;
        border: 1px solid darkgray;
        padding: 10px;

        .square-row {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
    
            .square {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 0;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 0.8rem;
                width: 18px;
                height: 18px;
                text-align: center;
                cursor: pointer;
    
                &.even {
                    &.not-showing {
                        background-color: #009900;

                        &:hover {
                            background-color: #3399FF;
                        }
                    }
    
                    &.showing {
                        background-color: rgb(184, 212, 240);
                    }
                }
    
                &.odd {
                    &.not-showing {
                        background-color: #006600;

                        &:hover {
                            background-color: #3399FF;
                        }
                    }
    
                    &.showing {
                        background-color: rgb(131, 151, 172);
                    }
                }
            }
        }
    }

    
}
